<div class="bib-entry">
<div class="bib-entry-id"><bib-field name="id"/></div>
<div class="bib-entry-kind"><bib-field name="kind"/></div>
<div class="bib-entry-title"><bib-field name="title"/></div>
<div class="bib-entry-author"><bib-field name="author"/></div>
</div>